.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: orange;
  border-radius: 8px;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 7px;
}

.cart-btn {
  padding: 10px;
  border: none;
  background-color: orange;
  font-size: large;

  transition: background-color 0.2s ease;
  cursor: pointer;
  border-radius: 6px;
}

.cart-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}